services:
  mysql-user:
    image: mysql:8.0
    container_name: mysql-user
    environment:
      MYSQL_ROOT_PASSWORD: root1234
      MYSQL_DATABASE: user_db
    ports:
      - "3307:3306"
    volumes:
      - mysql-user-data:/var/lib/mysql
    command: --bind-address=0.0.0.0

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  mysql-user-data: